<ul id="sm-icons" class="clearfix">
		
	{% if settings.sm_facebook_link != blank %}
		<li id="sm-facebook"><a href="{{settings.sm_facebook_link}}"><i class="fa fa-facebook fa-2x"></i></a></li>
	{% endif %}
	
	{% if settings.sm_twitter_link != blank %}
		<li id="sm-twitter"><a href="{{settings.sm_twitter_link}}"><i class="fa fa-twitter fa-2x"></i></a></li>
	{% endif %}	  

	{% if settings.sm_youtube_link != blank %}
		<li id="sm-youtube"><a href="{{settings.sm_youtube_link}}"><i class="fa fa-youtube fa-2x"></i></a></li>
	{% endif %}	  
	
	{% if settings.sm_flickr_link != blank %}
		<li id="sm-flickr"><a href="{{settings.sm_flickr_link}}"><i class="fa fa-flickr fa-2x"></i></a></li>
	{% endif %}
	
	{% if settings.sm_pinterest_link != blank %}
		<li id="sm-pinterest"><a href="{{settings.sm_pinterest_link}}"><i class="fa fa-pinterest fa-2x"></i></a></li>
	{% endif %}
	
	{% if settings.sm_instagram_link != blank %}
		<li id="sm-instagram"><a href="{{settings.sm_instagram_link}}"><i class="fa fa-instagram fa-2x"></i></a></li>
	{% endif %}	
	
	{% if settings.sm_google_plus_link != blank %}
		<li id="sm-google-plus"><a href="{{settings.sm_google_plus_link}}"><i class="fa fa-google-plus fa-2x"></i></a></li>
	{% endif %}
	
	{% if settings.sm_snapchat_link != blank %}
		<li id="sm-snapchat"><a href="{{settings.sm_snapchat_link}}"><i class="fa fa-snapchat fa-2x"></i></a></li>
	{% endif %}	
	
	{% if settings.sm_tumblr_link != blank %}
		<li id="sm-tumblr"><a href="{{settings.sm_tumblr_link}}"><i class="fa fa-tumblr fa-2x"></i></a></li>
	{% endif %}	
	    
</ul>