<!DOCTYPE html>
<html>

<head>

  {{ 'password-style.css' | asset_url | stylesheet_tag }}

  {% include 'font-links' %}

  <title>{{ 'coming_soon.general.title' | t }}</title>

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {{ content_for_header }}

</head>

<body class="password-page">

  <div class="container">
    <div id='login'>

      {{ content_for_layout }}

    </div>

    <div id='footer'>

    	<div id="site-owner-options">

    	<div class="password-wrapper">

    		<div class="col-md-12">

    		{% form 'storefront_password' %}
    		{{ form.errors | default_errors }}
    			<div class="form-group">
    				<label for='password'>{{ 'coming_soon.general.password' | t }}</label>
    				<div class="input-group">
    					<input type='password' name='password' id='password' class="form-control" autofocus />
    					<span class="input-group-btn">
								<input class="btn btn-success" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" />
							</span>
    				</div>
    			</div>
    		{% endform %}

    		</div>

    	</div>


    	<p>{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>

    	</div>

      <div id='powered'>
        {{ 'coming_soon.general.powered_by_html' | t }}
      </div>

    </div>
  </div>


</body>
</html>
