{% if section.settings.message_text != empty %} 
  <style>
   
	    .notification-bar{
	      background-color: {{ section.settings.notification-bar--background-colour }};
	      color: {{ section.settings.notification-bar--text-colour }};
	    }
	    
	    .notification-bar a{
	      color: {{ section.settings.notification-bar--text-colour }};	    	
	    }	    
	
</style>

  <div class="notification-bar custom-font">
      {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="notification-bar__message">
          <p>{{ section.settings.message_text | escape }}</p>
        </a>
      {% else %}
        <p class="notification-bar__message">{{ section.settings.message_text | escape }}</p>
      {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "message_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Announcement link",
      "info": "Optional"
    },
    {
      "type": "color",
      "id": "notification-bar--background-colour",
      "label": "Announcement background",
      "default": "#464646"
    },
    {
      "type": "color",
      "id": "notification-bar--text-colour",
      "label": "Announcement text",
      "default": "#fff"
    }
  ]
}
{% endschema %}