<article id="{{page.handle}}" class="post hentry">

	<div class="row">
	
	<div class="col-md-8">
	
	<section class="entry-content" id="article_content">
	
	<div class="article-image">
		{% if article.image %}
			<img src="{{ article.image | img_url: '1024x1024' }}" class="img-responsive" />
		{% endif %}
	</div>
	
	<div class="blog-title-wrapper{% if article.image %} article-image-header{% endif %}">
		<p class="blog-publish-date"><time class="updated" datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: '%B %d, %Y' }}</time>{% if section.settings.show_author_name %} | {{ article.author }}{% endif %}</p>
		<div class="blog-title--divider"></div>				
		<h2><a href="{{article.url}}">{{ article.title }}</a></h2>
	</div>
	
	<div class="article--body-content">
		{{ article.content }}
	</div>
		
		{% if article.tags.size > 0 %}
  <div id="blog-tags-wrapper">
    <span>{{ 'blogs.article.tags' | t }}:</span>
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
{% endif %}
	</section>
	
	{% if settings.social_sharing_blog %}
		{% if template contains 'article' or template contains 'blog' %}

	{% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
	{% capture shareTitle %}{{ article.title }}{% endcapture %}
	{% capture shareImage %}{{ article | img_url: '1024x1024' }}{% endcapture %}	

{% elsif template contains 'product' %}

	{% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
	{% capture shareTitle %}{{ product.title }}{% endcapture %}
	{% capture shareImage %}{{ product.featured_image | product_img_url: 'original' }}{% endcapture %}
		
{% endif %}

<div id="sharing" class="social-sharing" data-permalink="{{ permalinkURL }}">

	{% if settings.share_facebook %}
	<!-- https://developers.facebook.com/docs/plugins/share-button/ -->
	<a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
	<span class="icon icon-facebook" aria-hidden="true"></span>
	<span class="share-title">Share</span>
	</a>
	{% endif %}
	
	{% if settings.share_twitter %}
	<!-- https://dev.twitter.com/docs/intents -->
	<a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle }}" class="share-twitter">
	<span class="icon icon-twitter" aria-hidden="true"></span>
	<span class="share-title">Tweet</span>
	</a>
	{% endif %}
	
	{% if settings.share_google %}
	<!--
	https://developers.pinterest.com/pin_it/
	Pinterest get data from the same Open Graph meta tags Facebook uses
	-->
	<a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ shareImage }}&amp;description={{ product.title | escape }}" class="share-pinterest">
	<span class="icon icon-pinterest" aria-hidden="true"></span>
	<span class="share-title">Pin it</span>
	</a>
	{% endif %}    

</div>
	{% endif %}
	
	{% if blog.previous_article or blog.next_article %}
	<div id="paginate">
		{% if blog.previous_article %}
			<div class="article-previous-article">
				<a href="{{ blog.previous_article }}" class="btn btn-default">{{ 'blogs.article.previous_post' | t }}</a>
			</div>
		{% endif %}
	
		{% if blog.next_article %}
			<div class="article-next-article">
				<a href="{{ blog.next_article }}" class="btn btn-default">{{ 'blogs.article.next_post' | t }}</a>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
	{% endif %}
	
  {% if blog.comments_enabled? %}

	{% paginate article.comments by 3 %}
    {% if article.comments != blank %}	
	
      <div id="comments" class="comments">

	<div class="title-bar custom-font">
		<h2>{{ 'blogs.article.comments_title' | t }}</h2>
		<div class="clear"></div>
	</div>

	<ul>
        {% comment %} Loop through approved comments: {% endcomment %}        
        {% for comment in article.comments reversed %}
          <li class="comment clearfix">

	<div class="col-md-2">
		<img src="http://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="img-responsive" />
	</div>

	<div class="col-md-10">
		<div class="comment-author">
			{% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
			{% capture date %}<strong><time datetime="{{ comment.created_at | date: format: 'long' }}">{{ comment.created_at | date: format: 'long' }}</time></strong>{% endcapture %}
			{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
		</div>

		<div class="comment-content">
			{{ comment.content }}         
		</div>
	</div>
  
</li> <!-- end .comment -->

        {% endfor %}  

        {% comment %} Show a comment that was *just* submitted {% endcomment %}
        {% if comment and comment.created_at %}
          <li class="comment clearfix">

	<div class="col-md-2">
		<img src="http://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="img-responsive" />
	</div>

	<div class="col-md-10">
		<div class="comment-author">
			{% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
			{% capture date %}<strong><time datetime="{{ comment.created_at | date: format: 'long' }}">{{ comment.created_at | date: format: 'long' }}</time></strong>{% endcapture %}
			{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
		</div>

		<div class="comment-content">
			{{ comment.content }}         
		</div>
	</div>
  
</li> <!-- end .comment -->

        {% endif %}       
	</ul>
	
	{% if paginate.pages > 1 %}
		{% if paginate.pages > 1 %}
<div class="pagination row">
  
  <ul>
    <li class="pagination-arrow pagination-arrow--previous grid__item col-sm-4 col-md-4 col-xs-4">
      {% unless paginate.previous.is_link %}
        <div class="btn btn--secondary btn--narrow btn--disabled">
          <i class="fa fa-chevron-left"></i>
          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
        </div>
      {% else %}
        <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
          <i class="fa fa-chevron-left"></i>
          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
        </a>
      {% endunless %}
    </li>
    <li class="pagination-text grid__item col-sm-4 col-md-4 col-xs-4">
      <div class="hidden-xs">{{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}</div>
    </li>
    <li class="pagination-arrow pagination-arrow--next grid__item col-sm-4 col-md-4 col-xs-4">
      {% unless paginate.next.is_link %}
        <div class="btn btn--secondary btn--narrow btn--disabled">
          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          <i class="fa fa-chevron-right"></i>          
        </div>
      {% else %}
        <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          <i class="fa fa-chevron-right"></i>          
        </a>
      {% endunless %}
    </li>
  </ul>
  

</div>
{% endif %}
	{% endif %}
	
	    </div> <!-- end #comments -->
	
	{% endif %}
	{% endpaginate %} 
  


    {% form article %}
    <div class="comment_form" id="comment-form">


	<div class="title-bar custom-font">
		<h2>{{ 'blogs.comments.title' | t }}</h2>
		<div class="clear"></div>
	</div>

      {% if form.posted_successfully? %}
        {% if blog.moderated? %}
          <div class="success-msg">
				{{ 'blogs.comments.moderated' | t }}
          </div>
        {% else %}
          <div class="success-msg">
          		{{ 'blogs.comments.success' | t }}
          </div>
        {% endif %}
      {% endif %}

      {% if form.errors %}
        <p class="notice error-msg">{{ 'blogs.comments.field_error' | t }}</p>
      {% endif %}

      <div class="form-group clearfix{% if form.errors contains 'author' %} has-error{% endif %}">
        <label for="comment_author">{{ 'blogs.comments.name' | t }} <strong class="req">*</strong></label>
        <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text form-control {% if form.errors contains 'author' %}input-error{% endif %}" />
      </div>
      <div class="form-group clearfix{% if form.errors contains 'email' %} has-error{% endif %}">
        <label for="comment_email">{{ 'blogs.comments.email' | t }} <strong class="req">*</strong></label>
        <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text form-control {% if form.errors contains 'email' %}input-error{% endif %}" />
      </div>
      <div class="form-group clearfix{% if form.errors contains 'body' %} has-error{% endif %}">
        <label for="comment_body">{{ 'blogs.comments.comment' | t }} <strong class="req">*</strong></label>
        <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text form-control {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
      </div> 

      <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="btn btn-default" />

    </div> <!-- end div.comment_form -->
    {% endform %}  
  {% endif %}

</div>
	
<div class="col-md-4">

	<div id="blog-sidebar">
	
	{% if section.settings.blog-sidebar-image or section.settings.blog_sidebar_title != empty or section.settings.blog_sidebar_desc != empty %}
	
		<div class="blog-sidebar--section">
		
			{% if section.settings.blog-sidebar-image %}
				<a href="{{ section.settings.blog-sidebar-image.link }}" itemprop="url">
					<img src="{{ section.settings.blog-sidebar-image | img_url: '600x' }}"
					srcset="{{ section.settings.blog-sidebar-image | img_url: '600x' }} 1x, {{ section.settings.blog-sidebar-image | img_url: '600x', scale: 2 }} 2x"
					alt="{{ section.settings.blog-sidebar-image.alt | default: shop.name }}"
					class="img-responsive">
				</a>
			{% endif %}
			
			
			{% if section.settings.blog_sidebar_title != empty %}
				<h2>{{ section.settings.blog_sidebar_title }}</h2>
			{% endif %}
			
			{% if section.settings.blog_sidebar_desc != empty %}
				<p class="blog-sidebar--description">{{ section.settings.blog_sidebar_desc }}</p>
			{% endif %}
		
		</div>
		
	{% endif %}	
		
	{% if section.settings.show_blog_tags %}
	
		<div class="blog-sidebar--section">
	
			{% if blog.all_tags.size > 0 %}
				<h2>{{ 'blogs.sidebar.categories' | t }}</h2>
				<ul class="blog-sidebar--categories">
					{% for tag in blog.all_tags %}
						{% if current_tags contains tag %}
							<li>{{ tag }}</li>
						{% else %}
							<li>{{ tag | link_to_tag: tag }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			
		</div>
		
	{% endif %}	
		
	{% if section.settings.show_recent_posts %}
	
		<div class="blog-sidebar--section">						
	
			<h2>{{ 'blogs.sidebar.latest_articles' | t }}</h2>
			<ul class="blog-sidebar--latest-articles">
				{% for article in blogs[blog.handle].articles limit:6 %}
					<li class="row">
						{% if article.image %}
							<div class="col-md-4 blog-sidebar--article-image">							
								<img src="{{ article.image | img_url: '1024x1024' }}" class="img-responsive" />
							</div>
							<div class="col-md-8">
								<p>
									<strong><a href="{{ article.url }}">{{ article.title }}</a></strong>
									<br />
									<time datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: "%b %d, %Y" }}</time>
								</p>
							</div>
						{% else %}						
								<p>
									<strong><a href="{{ article.url }}">{{ article.title }}</a></strong>
									<br />
									<time datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: "%b %d, %Y" }}</time>
								</p>
						{% endif %}						
					</li>
				{% endfor %}
			</ul>
	
		</div>
	
	{% endif %}
	
	</div><!-- #blog-sidebar -->

</div>	
	
	</div>


</article>

{% schema %}
{
  "name": "Article pages",
  "settings": [
    {
      "type": "image_picker",
      "id": "blog-sidebar-image",
      "label": "Sidebar image"
    },
    {
      "type": "url",
      "id": "blog-sidebar-link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "blog_sidebar_title",
      "label": "Sidebar heading"
    },
    {
      "type": "textarea",
      "id": "blog_sidebar_desc",
      "label": "Sidebar description"
    },
    {
      "type": "checkbox",
      "id": "show_author_name",
      "label": "Show author name",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_blog_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_recent_posts",
      "label": "Show 'Latest articles'"
    }
  ]
}
{% endschema %}