{% if section.settings.tags_enable and section.settings.sort_enable %}
<style>
@media only screen and (max-width: 768px) {
	.collection-page--sort-by{
		margin-top: 20px;
	}
}
</style>
{% endif %}

{% if section.settings.collection_image_enable %}
	<style>
	#main-navigation-wrapper{
		margin-bottom: 0px;
	}
	</style>

	{% if collection.image %}
		<div class="collection-image-wrapper">
			<img src="{{ collection.image | img_url: '2000x' }}" alt="{{ collection.title }}" class="img-responsive" />
		</div>
	{% endif %}
{% endif %}

<div class="container">

{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">

<div id="collections-main" class="{{ collection.handle }}">

<div class="title-bar custom-font collection-header">
	{% if collection.handle == 'all' %}
		<h2>{{ 'products.general.products_title' | t }}</h2>
	{% else %}
		<h2>{{ collection.title }}</h2>
	{% endif %}
	<div class="clear"></div>
</div>

	{% if collection.description != empty %}
		<div class="description-content">{{ collection.description }}</div>
	{% endif %}
</div>

{% if section.settings.tags_enable or section.settings.sort_enable %}
			<div class="filters-toolbar row">
				{% if section.settings.tags_enable %}
					<div class="col-md-3">

						<div class="clearfix filter">
						  <label for="sort-by">{{ 'collections.filters.title_tags' | t }}</label>
						  <select class="coll-filter">
						    <option value="">{{ 'collections.filters.all_tags' | t }}</option>
						    {% for tag in collection.all_tags %}
						    {% if current_tags contains tag %}
						    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
						    {% else %}
						    <option value="{{ tag | handle }}">{{ tag }}</option>
						    {% endif %}
						    {% endfor %}
						  </select>
						</div>

						<div id="link-to-tag-generic" style="display: none; visibility: hidden;">
						  {{ 'tag' | link_to_tag: 'tag' }}"
						</div>
						{% if collection.handle %}
						  <input type="hidden" id="link-to-collection" value="/collections/{{ collection.handle }}" />
						{% elsif collection.products.first.type == collection.title %}
						  <input type="hidden" id="link-to-collection" value="{{ collection.title | url_for_type }}" />
						{% elsif collection.products.first.vendor == collection.title %}
						  <input type="hidden" id="link-to-collection" value="{{ collection.title | url_for_vendor }}" />
						{% endif %}
					</div>
				{% endif %}

				{% if section.settings.sort_enable %}
					<div class="collection-page--sort-by col-md-3 {% if section.settings.tags_enable %}col-md-offset-6{% endif %}">
						{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
						<label for="sort-by">{{ 'collections.sorting.title' | t }}</label>
  					<select id="sort-by">
							<option value="manual">{{ 'collections.sorting.featured' | t }}</option>
					    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
					    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
					    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
					    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
					    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
					    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
					    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
						</select>
						<input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
					</div>

					<input type="hidden" id="collection-sort-by" value="{{ collection.sort_by | default: collection.default_sort_by | escape }}" />
				{% endif %}
			</div>
{% endif %}

  <div class="page-width" id="Collection">
      {% case section.settings.grid %}
      {% when '3' %}
      {%- assign grid_item_width = 'col-xs-6 col-sm-4 col-md-4' -%}
      {%- assign grid_image_width = '600x600' -%}
      {% when '4' %}
      {%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-3' -%}
      {%- assign grid_image_width = '600x600' -%}
      {% endcase %}
      <div class="row product-grid clearfix">
        {% for product in collection.products %}
          <div class="grid__item {{ grid_item_width }} indiv-product-wrapper

          {% case section.settings.grid %}
          {% when '3' %}
          	{% cycle ' alpha mobile-clear', '', ' mobile-clear omega', 'alpha', ' mobile-clear', ' omega' %}
	      {% when '4' %}
	      	{% cycle ' alpha mobile-clear', '', 'mobile-clear', ' omega' %}
	      {% endcase %}

          ">

            <div class="indiv-product">

							{% case section.settings.hover-effect %}

								{% when 'none' %}

								<a href="{{ product.url | within: collection }}" title="{{product.title}}">
									<img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive wow fadeIn" id="collection-image-anim">
								</a>

								{% when 'second-image' %}

									{% if product.images.size > 1 %}

										<div class="reveal">
											<a href="{{ product.url | within: collection }}" title="{{product.title}}">
												<img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive wow fadeIn" id="collection-image-anim">
												<div class="hidden">
														<img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images.last.alt | escape }}" class="img-responsive" />
												</div>
											</a>
										</div>

									{% else %}

										<a href="{{ product.url | within: collection }}" title="{{product.title}}">
											<img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive wow fadeIn" id="collection-image-anim">
										</a>

									{% endif %}

								{% when 'zoom' %}

								<div class="collection-image--zoom-effect">
									<div class="zoom-effect--inner">
										<a href="{{ product.url | within: collection }}" title="{{product.title}}">
											<img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive wow fadeIn" id="collection-image-anim">
										</a>
									</div>
								</div>

								{% endcase %}

            	<div class="hp-title">

					{% if section.settings.show-vendor %}
						<div class="indiv-product-vendor-text">{{ product.vendor | link_to_vendor }}</div>
					{% endif %}

            		<a href="{{ product.url | within: collection }}">

            			<div class="indiv-product-title-text">{{ product.title }}</div>

            			<span class="money-styling custom-font">

            				{% if product.compare_at_price_max > product.price %}
            					<h5 class="custom-font compare-at-price">
            						<span class="money">{{ product.compare_at_price_max | money }}</span>
            					</h5>
            				{% endif %}

            				{% if product.available %}
            					{% if product.price_varies %}
            						<small>{{ 'products.general.from' | t }}</small> <span class="money">{{ product.price_min | money }}</span>
            					{% else %}
            						<span class="money">{{ product.price_min | money }}</span>
            					{% endif %}
            				{% else %}
            					<p class="product-dets-sold-out">{{ 'products.product.sold_out' | t }}</p>
            				{% endif %}

            			</span>
            		</a>
            	</div>
            </div>

            {% if product.compare_at_price_max > product.price %}
            	<div class="sale-badge">{{ 'products.general.sale' | t }}</div>
            {% endif %}

          </div>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}

            {% for i in (1..8) %}

            <div class="grid__item {{ grid_item_width }} indiv-product-wrapper

            {% case section.settings.grid %}
            {% when '3' %}
            	{% cycle ' alpha', '', ' omega' %}
            {% when '4' %}
            	{% cycle ' alpha', '', '', ' omega' %}
            {% endcase %}

            ">

            <div class="indiv-product">
            	<a href="{{ product.url | within: collection }}" title="{{product.title}}">
	            	{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
	            	{{ 'product-' | append: current | placeholder_svg_tag: 'icon icon--placeholder animated fadeIn img-responsive' }}
            	</a>

            	<div class="hp-title">
            		<a href="{{ product.url | within: collection }}">
            			<div class="indiv-product-title-text">{{ 'general.onboarding.product_title' | t }}</div>

            			<span class="money-styling custom-font">$19.99</span>
            		</a>
            	</div>
            </div>

            </div>
            {% endfor %}

          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% if paginate.pages > 1 %}
<div class="pagination row">

  <ul>
    <li class="pagination-arrow pagination-arrow--previous grid__item col-sm-4 col-md-4 col-xs-4">
      {% unless paginate.previous.is_link %}
        <div class="btn btn--secondary btn--narrow btn--disabled">
          <i class="fa fa-chevron-left"></i>
          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
        </div>
      {% else %}
        <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
          <i class="fa fa-chevron-left"></i>
          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
        </a>
      {% endunless %}
    </li>
    <li class="pagination-text grid__item col-sm-4 col-md-4 col-xs-4">
      <div class="hidden-xs">{{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}</div>
    </li>
    <li class="pagination-arrow pagination-arrow--next grid__item col-sm-4 col-md-4 col-xs-4">
      {% unless paginate.next.is_link %}
        <div class="btn btn--secondary btn--narrow btn--disabled">
          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          <i class="fa fa-chevron-right"></i>
        </div>
      {% else %}
        <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          <i class="fa fa-chevron-right"></i>
        </a>
      {% endunless %}
    </li>
  </ul>


</div>
{% endif %}
    {% endif %}
  </div>
</div>

</div>

{% endpaginate %}

{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "select",
      "id": "grid",
      "label": "Products per row",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows per page",
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show-vendor",
      "label": "Show vendor",
      "default": false
    },
		{
			"type": "select",
			"id": "hover-effect",
			"label": "Hover effect",
			"default": "zoom",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "zoom",
					"label": "Zoom"
				},
				{
					"value": "second-image",
					"label": "Show Second Product Image"
				}
			]
		},
    {
      "type": "checkbox",
      "id": "collection_image_enable",
      "label": "Show collection image",
      "default": true
    },
		{
      "type": "checkbox",
      "id": "sort_enable",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    }
  ]
}
{% endschema %}
