<style>
@media only screen and (min-width: 768px) {
	.instagram--with-padding .instagram-indiv:nth-last-child(-n+{{ section.settings.grid }}) {
	    padding-bottom: 0 !important;
	}
}
</style>

<div class="container">

	<div class="row">

		<div class="col-md-12">

			{% if section.settings.show-title %}

				<div class="title-bar custom-font{% if section.settings.instagram-homepage-width == 'full-width' %} instagram-wrapper--header-no-padding{% endif %}">
					{% if settings.sm_instagram_link != empty %}
					<a href="{{ settings.sm_instagram_link }}" target="_blank">
					{% endif %}
						<h2><i class="fa fa-instagram"></i> {{ section.settings.title }}</h2>
					{% if settings.sm_instagram_link != empty %}
					</a>
					{% endif %}
					<div class="clear"></div>
				</div>

			{% endif %}

		</div>

	</div>

</div>

{% if section.settings.instagram-homepage-width == 'full-width' %}
	<div class="container-fluid homepage-slider-container">
		<div class="row">
			<div class="page-width col-md-12">
{% else %}
	<div class="container">
		<div class="row">
			<div class="page-width col-md-12">
{% endif %}

{% if section.settings.instagram-access-token != empty %}

		<input type="hidden" id="token-{{ section.id }}" value="{{ section.settings.instagram-access-token }}" />

		<div class="instagram-wrapper" data-id="{{ section.id }}">

			<div
				id="instafeed-{{ section.id }}"
				data-sort-by="{{ section.settings.sort-by | default:"recent" }}"
				data-grid="{{ section.settings.grid }}"
				data-rows="{{ section.settings.rows }}"
				{% if section.settings.image-padding %}class="row instagram--with-padding"{% endif %}>
			</div>

		</div>

{% else %}

{% capture total_images %}{{ section.settings.grid | times: section.settings.rows }}{% endcapture %}

	<div class="instagram-wrapper" data-id="{{ section.id }}">

		<div id="instafeed-{{ section.id }}" {% if section.settings.image-padding %}class="row instagram--with-padding"{% endif %}>

			{% for i in (1..total_images) %}<div class="instagram-indiv instagram-grid-{{ section.settings.grid }}">{{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}</div>{% endfor %}

		</div>

	</div>

{% endif %}

		</div>
	</div>
</div>

{% assign instaimage = '{{image}}' %}
{% assign instaurl = '{{link}}' %}

{% schema %}
{
  "name": "Instagram",
  "class": "homepage-section--instagram-wrapper wow fadeIn",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "show-title",
      "label": "Show title",
      "default": true
    },
		{
			"type": "checkbox",
			"id": "image-padding",
			"label": "Enable image padding",
			"default": true
		},
    {
      "type": "text",
      "id": "instagram-access-token",
      "label": "Access token [(?)](http:\/\/www.wetheme.com\/instagram-integration\/)"
    },
    {
      "type": "select",
      "id": "instagram-homepage-width",
      "label": "Width",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "fixed"
    },
    {
      "type": "select",
      "id": "grid",
      "label": "Images per row",
      "default": "6",
      "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort-by",
      "label": "Sort by",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "Date added"
        },
        {
          "value": "most-liked",
          "label": "Most likes"
        },
        {
          "value": "most-commented",
          "label": "Most comments"
        },
        {
          "value": "random",
          "label": "Random"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram",
      "category": "Social media"
    }
  ]
}
{% endschema %}
