
{% if section.settings.newsletter_enable %}
<div class="password-mailing-list">
{% form 'customer' %}

{{ form.errors | default_errors }}

{% if form.posted_successfully? %}
<div class="alert alert-success" role="alert">{{ 'coming_soon.general.thanks_mailing' | t }}</div>
{% else %}
<div class="form-group">
  <label for="email">{{ section.settings.newsletter_form_heading }}</label>
  <div class="input-group">
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" class="form-control">
    <span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
  </div>
</div>
{% endif %}

{% endform %}
</div>
{% endif %}

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open"
    }
  ]
}

{% endschema %}
