<div class="row">
  <div class="col-md-12">
  <h1 id="site-title">
    <a href="/" title="Home">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
         alt="{{ section.settings.logo.alt | default: shop.name }}"
         itemprop="logo">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
    </a>
  </h1>

  {% if shop.password_message and shop.password_message != '' %}
    <div class="welcome-message custom-font">
      {{ shop.password_message }}
    </div>
  {% else %}
    <div class="welcome-message custom-font">
      <p><span class="default-text">{{ 'coming_soon.general.opening_soon' | t }}</span></p>
    </div>
  {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type":      "paragraph",
      "content": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)"
    }
  ]
}
{% endschema %}
