<div class="container">

	<div class="row">

		<div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

			<div class="col-md-12 homepage-featured-rich-text">

				{% if section.settings.title != blank %}
	        <div class="title-bar custom-font">
	        	<h2>{{ section.settings.title | escape }}</h2>
	        	<div class="clear"></div>
	        </div>
				{% endif %}

				<ul class="homepage-section-social-media {% if section.settings.icon-colors == 'color' %}homepage-section-social-media--color{% else %}homepage-section-social-media--black-and-white{% endif %}">

					{% if settings.sm_facebook_link != blank %}
						<li id="sm-facebook">
							<a href="{{ settings.sm_facebook_link }}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_twitter_link != blank %}
						<li id="sm-twitter">
							<a href="{{settings.sm_twitter_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_youtube_link != blank %}
						<li id="sm-youtube">
							<a href="{{settings.sm_youtube_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_flickr_link != blank %}
						<li id="sm-flickr">
							<a href="{{settings.sm_flickr_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_pinterest_link != blank %}
						<li id="sm-pinterest">
							<a href="{{settings.sm_pinterest_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_instagram_link != blank %}
						<li id="sm-instagram">
							<a href="{{settings.sm_instagram_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_google_plus_link != blank %}
						<li id="sm-google-plus">
							<a href="{{settings.sm_google_plus_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_snapchat_link != blank %}
						<li id="sm-snapchat">
							<a href="{{settings.sm_snapchat_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-snapchat fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if settings.sm_tumblr_link != blank %}
						<li id="sm-tumblr">
							<a href="{{settings.sm_tumblr_link}}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}

				</ul>

			</div>

		</div>

	</div>

</div>

{% schema %}
{
  "name": "Social media icons",
  "class": "homepage-section--social-media-wrapper wow fadeIn",
  "settings": [
		{
			"type": "paragraph",
			"content": "Edit your social settings and accounts in General settings"
		},
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Follow us..."
    },
		{
        "type":      "select",
        "id":        "icon-colors",
        "label":     "Icons",
        "options": [
          {
            "value": "color",
            "label": "Color"
          },
          {
            "value": "blackandwhite",
            "label": "Black and white"
          }
        ],
        "default":   "color"
			}
  ],
  "presets": [
    {
      "name": "Social media icons",
      "category": "Social media"
    }
  ]
}
{% endschema %}
