{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

{% case section.blocks.size %}
  {% when 1 %}
    {%- assign column_size = 'col-sm-12 col-md-12' -%}
    {%- assign column_amount = 'text-advert-section--one-column' -%}
  {% when 2 %}
    {%- assign column_size = 'col-sm-6 col-md-6' -%}
    {%- assign column_amount = 'text-advert-section--two-columns' -%}
  {% when 3 %}
    {%- assign column_size = 'col-sm-4 col-md-4' -%}
    {%- assign column_amount = 'text-advert-section--three-columns' -%}
{% endcase %}

<div class="container hidden-xs">
  <div class="row text-advert-section {{ column_amount }}">

    {% for block in section.blocks %}
      {%- assign advert_has_link = false -%}
      {% if block.settings.link != blank %}
        {%- assign advert_has_link = true -%}
      {% endif %}

      <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>

        {% if advert_has_link %}
          <a href="{{ block.settings.link }}">
        {% endif %}

        {% if block.settings.heading != blank %}
          <span class="text-advert-section--header h5">{{ block.settings.heading }}</span>
        {% endif %}

        {% if block.settings.heading != blank %}
          <span class="text-advert-section--sub-header h6">{{ block.settings.subheading }}</span>
        {% endif %}

        {% if advert_has_link %}
          </a>
        {% endif %}

      </div>
    {% endfor %}
  </div>
</div>

<div class="container visible-xs">
  <div class="row text-advert-section mobile-homepage-text-adverts {{ column_amount }}">

    <ul class="slides">

    {% for block in section.blocks %}
      {%- assign advert_has_link = false -%}
      {% if block.settings.link != blank %}
        {%- assign advert_has_link = true -%}
      {% endif %}

      <li class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>

        {% if advert_has_link %}
          <a href="{{ block.settings.link }}">
        {% endif %}

        {% if block.settings.heading != blank %}
          <span class="text-advert-section--header h5">{{ block.settings.heading }}</span>
        {% endif %}

        {% if block.settings.heading != blank %}
          <span class="text-advert-section--sub-header h6">{{ block.settings.subheading }}</span>
        {% endif %}

        {% if advert_has_link %}
          </a>
        {% endif %}

      </li>

    {% endfor %}

</ul>

  </div>
</div>

</div>

{% schema %}
{
  "name": "Text adverts",
  "class": "homepage-section--text-adverts-wrapper wow fadeIn",
  "settings": [
  {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "text",
      "name": "Advert",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text adverts",
      "category": "Text",
      "blocks": [
  			{
  				"type": "text",
  				"settings": {
            "heading": "Free Delivery Worldwide",
  					"subheading": "Click here for more info"
          }
  			},
        {
          "type": "text",
          "settings": {
            "heading": "Final Clearance Sale",
            "subheading": "Up to 70% off"
          }
        },
        {
          "type": "text",
          "settings": {
            "heading": "Promotional Link 3",
            "subheading": "Link to a collection, product, blog post..."
          }
        }
  		]
    }
  ]
}
{% endschema %}
